{% extends "lenotes/base.html" %} {% block title %} Embedding info {% endblock %} {% block content %}

<div class="section">
    <br/>
    <h2>Embedding info</h2>
    <br/>
    <p>PS: Provide a picture (PNG format) and a paragraph of text. Click comfirm to embed the text into picture.</p>

    <form action="{% url 'extension:embedding_info' %}" enctype="multipart/form-data" method="POST" class="form">{% csrf_token %}

        <div class="form-group">
            <label for='text'>Text</label>
            <input type='text' class='form-control' name='text'>
            <br/>
            <label for='beforeimg'>Image (.png only or 404)</label>
            <input type='file' name='beforeimg' class='form-control' />
            <br/>
            <button type="submit" class="btn btn-primary">Comfirm</button>
        </div>
    </form>

</div>

{% endblock content %}