#nav {
    line-height: 30px;
    background-color: #b5f2fc;
    height: 250px;
    width: 370px;
    float: left;
    padding: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: #92b9c9;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    W margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

body {
    background-repeat: no-repeat;
    background-position: 250px 70px;
    background-attachment: fixed;
}